/*106_Создаем файл для стилей css */
.admin-panel{
  border: 1px solid #999;/* >>> граница(кромка) 1 пиксель, цвет - очень серенький*/
  border-radius: 2px; /* >>> закругленные края */
  position: fixed;/*>>> позиция админ-панельки*/
  right: 50px;/*>>> справа отступ - 50 пикселей */
  bottom: 30px;/*>>> снизу отступ - 30 пикселей */
  opacity: 0.3;/*>>> непрозрачность - 0.3 */
  paddeng: 15px; /*>>> отступ от края - 15 пикселей */
}

.admin-panel:hover { /*>>> при наведении фокуса на нашу админ-панель - она становится четко видимой */
  opacity: 1;
}

.admin-panel a {
  display: block; /* 110_Чтоб панель отоброзилась вертикольно надо после пункта 109_ указать display: block; */
  margin: 5px 0; /*>>> отступы между элементами (кнопками) 5 пикселей сверху/снизу - с боков - по нулям */
}

a.edit, a.delete { /* 115_Скроем эти кнопки, если мы находимся не в самом окне поста*/
  display: none;
}
