{% extends 'blog/base_blog.html' %} <!--12_ Делаем росширение общего шаблона-->

{% block title %} <!--11_ Размечаем блоки -->
  Posts List <!-- по умолчанию-->
{% endblock %}
{% block content %} <!--11_ Размечаем блоки -->
  <h1 class='mb-5'>Posts:</h1>
<!-- 25_Заменяем /{/% for name in names /%/} и /{/{ name /}/} на /{/% for post in posts /%/} и /{/{ post.title /}/}-->
  {% for post in posts %} <!--7_ так передаем шаблону данные из view.py из словаря context метода posts_list-->
  <div class="card mb-4"> <!-- 26_Берем из Bootstrap/Card/Header and footer код и вставляем в него post.data_pub, post.title и post.body-->
    <div class="card-header">
      {{ post.data_pub }}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ post.title}}</h5>
      <p class="card-text">{{post.body|truncatewords:22}}</p>
      <!-- 27_post.body|truncatewords:22 - это фильтр для шаблонов из документации django - означает что мы ограничиваем тексе 22-мя словами-->
      <!-- 32_Подставляем в кнопку ссылку для перехода url 'post_detail_url' slug=post.slug-->
      <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Read</a>
      <!-- 34_ Для получения ссылки вызываем метод post.get_absolute_url , который мы написали в blog/models.py-->

    </div>
  </div>

  {% endfor %}
{% endblock %}
