<!--13_ Переносим все в этот основной шаблон из base_blog.html-->
<!DOCTYPE html>
<html lang="en" dir="ltr"> <!--8_ создаем  общий файл-шаблон blog/templates/blog/base_blog.html-->
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!--9_ Идем на сайт Bootstrap и забираем оттуда код шаблона из раздела Getting Started/CSS-->
    <!--11_ Размечаем блоки -->
    <title>

      {% block title %}
        Block Title
      {% endblock %}
    </title>
    <!-- по умолчанию-->
  </head>
  <body>
    <!--10_ Берем из Bootstrap какой небудь код Navbar и вставляем в body-->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
      <a class="navbar-brand" href="#">My Super Site</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'posts_list_url' %}">Posts</a>
            <!-- 30_в параметр href записываем ссылку через имя параметра path() файла blog/urls.py-->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'tags_list_url' %}">Tags</a>
            <!-- 41_Создаем на кнопке Tags ссылку на страничку с тэгами-->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
        </ul>
        <span class="navbar-text">
          Navbar text with an inline element
        </span>
      </div>
    </nav>

    <div class='container'>
        <div class='row'>
          <div class='col-8'>
              {% block content %} <!--11_ Размечаем блоки -->
                Any Text <!-- по умолчанию-->
              {% endblock %}
          </div>
        </div>
    </div>

  </body>
</html>
