
{% load static %} <!-- 108_Пишем команду {% load static %}, чтоб иметь возможность импортировать css-статику-->
<!--13_ Переносим все в этот основной шаблон из base_blog.html-->
<!DOCTYPE html>
<html lang="en" dir="ltr"> <!--8_ создаем  общий файл-шаблон blog/templates/blog/base_blog.html-->
  <head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!--9_ Идем на сайт Bootstrap и забираем оттуда код шаблона из раздела Getting Started/CSS-->
    <!--11_ Размечаем блоки -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- 109_Пишем link для указания на наши стили href="{% static 'css/styles.css' %}"-->
    <title>

      {% block title %}
        Block Title
      {% endblock %}
    </title>
    <!-- по умолчанию-->
  </head>
  <body>
    <!--10_ Берем из Bootstrap какой небудь код Navbar и вставляем в body-->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
      <a class="navbar-brand" href="#">My Super Site</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'posts_list_url' %}">Posts</a>
            <!-- 30_в параметр href записываем ссылку через имя параметра path() файла blog/urls.py-->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'tags_list_url' %}">Tags</a>
            <!-- 41_Создаем на кнопке Tags ссылку на страничку с тэгами-->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
        </ul>
        <span class="navbar-text">
          Navbar text with an inline element
        </span>
      </div>
    </nav>

    <div class='container mt-5'>
        <div class='row'>
          <div class='col-6 offset-md-2'>
              {% block content %} <!--11_ Размечаем блоки -->
                Any Text <!-- по умолчанию-->
              {% endblock %}


              {% if is_paginated %} <!-- 140_Отображать панельку страниц если страниц более чем одна -->
              <nav aria-label="..."> <!-- 124_Идем в Bootstrap/Pagination и берем оттуда код для пагинации и вставляем его в шаблое base.html-->
                <ul class="pagination">
                  <!-- 138_Делаем чтоб работала кнопка Previous -->
                  <li class="page-item {% if not prev_url %}disabled{% endif %}">
                    <a class="page-link" href="{{ prev_url }}" tabindex="-1" aria-disabled="true">Previous</a>
                  </li>

                  <!-- <li class="page-item"><a class="page-link" href="#">1</a></li> -->
                  <!-- <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                  </li> -->
                  <!-- <li class="page-item"><a class="page-link" href="#">3</a></li> -->
                  <!-- 132_Делаем в шаблоне через цикл for чтоб подставлялись цифры страниц при пагинации -->
                  {% for n in page_object.paginator.page_range %}

                    {% if page_object.number == n %}<!-- Текущая страница - подкрашена синим -->
                      <li class="page-item active" aria-current="page">
                        <a class="page-link" href="?page={{ n }}"> {{ n }} <span class="sr-only">(current)</span></a>
                      </li>

                    {% elif n >= page_object.number|add:-3 and n <= page_object.number|add:3 %}
                    <!-- 133_Делаем условие, чтоб отображались кнопки страниц на две меньше текущей и на две больше -->
                      <li class="page-item">
                        <a class="page-link" href="?page={{ n }}">{{ n }}</a>
                      </li>
                    {% endif %}

                  {% endfor %}

                  <!-- 139_Делаем чтоб работала кнопка Next -->
                  <li class="page-item {% if not next_url %}disabled{% endif %}">
                    <a class="page-link" href="{{ next_url }}" tabindex="-1" aria-disabled="true">Next</a>
                  </li>

                </ul>
              </nav>
              {% endif %}

          </div>
        </div>
    </div>
    {% if request.user.is_authenticated and request.user.is_staff %} <!-- 121_Обьявляем условие отображения админ-панели -- толикао зарегистрированым админам вошедшим в свой аккаунт-->
<!-- 103_Определяем админ-панель-->
    <div class='admin-panel align-items-center'> <!-- 109_Добавляем в класс align-items-center для назначения вертикального выравнивания админ-панели-->
      <a href='/admin' class="btn btn-outline-info">Admin</a> <!-- class="btn btn-outline-info" - определяет - какого вида будет кнопка - из Bootstrap-->
        {% block admin-panel %}

        {% endblock %}
    </div>
    {% endif %}

  </body>
</html>
